
@{
    Layout = "~/Views/Shared/MainSiteLayout.cshtml";
    ViewBag.Title = "Home";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    @Styles.Render("~/bundles/HomePageStyles")


</head>
<body>



    <div id="login-popup">

        <form id="login-form" class="loginControls">
            <button type="button" class="login-close">×</button>
            <div>
                <div class="custom-logo lg-logo" style="background-image: url('@Url.Content("~/Media/Logo-Dark.png")')"></div>
                <span id="login-message">Please Login To Continue</span>
            </div>

            <input id="login-email" type="email" placeholder="Enter Your Email" Required />
            <input id="login-password" type="password" placeholder="Enter Password" Required />

            <span class="errorDisplay"></span>
            <span id="login-forgot">Forgot Password</span>


            <button id="btn-login" class="btn btn-login" Text="Log in">Login</button>

            <span class="form-message">Create An Account</span>
            <a class="loading"></a>

        </form>
        <form id="register-form" class="loginControls">
            <button type="button" class="login-close">×</button>
            <div>
                <div class="custom-logo lg-logo" style="background-image: url('@Url.Content("~/Media/Logo-Dark.png")')"></div>
                <span class="login-message" style="margin-left: 71px;">Create An Account</span>
            </div>


            <div class="formDuelField">
                <input id="registerFirstName" type="text" placeholder="Enter Your Firstname" Required />
                <input id="registerSecondName" type="text" placeholder="Enter Your Lastname" Required />
            </div>

            <input id="registerEmail" type="email" placeholder="Enter Your Email" Required />

            <input id="registerPassword" minlength="10" type="password" placeholder="Enter Password" Required />
            <span class="errorDisplay"></span>
            <input id="registerPasswordRepeat" minlength="10" type="password" placeholder="Enter Repeat Password" Required />

            <span class="errorDisplay"></span>
            <button id="btn-register" class="btn btn-login" Text="Register">Create Account</button>
            <span class="form-message">Already Have An Account</span>
            <a class="loading"></a>
        </form>


        <form id="reset-password-form" class="loginControls">
            <button type="button" class="login-close">×</button>
            <div>
                <div class="custom-logo lg-logo" style="background-image: url('@Url.Content("~/Media/Logo-Dark.png")')"></div>
                <span class="login-message" style="margin-left: 71px;">Reset Password</span>
            </div>


            <input id="forget-password-email" type="email" placeholder="Email" Required />


            <span class="errorDisplay"></span>
            <button class="btn btn-login" Text="Reset Password">Reset Password</button>
            <span id="forget-password-back">Already Have An Account</span>
            <a class="loading"></a>
        </form>

    </div>


    <div id="main-large-top">

        <div id="large-top-text">

            <div>
                <div id="title"><span style="transform: translateY(-16px);display: inline-block;">M</span>y Menu Plus</div>
                <div class="logo"></div>
            </div>

            <div id="description">Create Stunning Looking Menus</div>
            <button class="btn getStarted" id="btn-start">Get Started</button>
        </div>



    </div>


    <div>
        <div class="section-title title-small" style="margin-top: -160px;">Quick Start</div>
        <div class="section-title title-bold">Get you business moving again</div>

        <div class="flex-container">
            <div data-aos="fade-up" data-aos-offset="400" id="stepFirst"></div>
            <div data-aos="fade-up" data-aos-offset="400" data-aos-delay="100" id="stepSecond"></div>
        </div>


        <div data-aos="fade-right" data-aos-delay="200" data-aos-offset="200" class="double-flex" id="stepThird"></div>
    </div>




    <div data-aos-offset="300" data-aos="zoom-in" class="slanted-section" style="margin-top: 170px;margin-bottom: 60px;">
        <div>
            <div class="slanted-section-content">

                <div class="section-title title-bold slanted-text">Easily create dynamic menus without </br> a single line of code</div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

            </div>
        </div>
    </div>




    <div data-aos="fade-left">
        <div class="flex-container">
            <div id="example-menu"></div>
            <div class="article-content">
                <div class="section-title">Your Content</div>
                <div class="article-text">Create professional looking menus with your own content</div>
                <button class="btn btn-article getStarted">Upload Your Business Now</button>
            </div>
        </div>
    </div>



    <div data-aos="fade-right">
        <div class="flex-container">
            <div class="article-content">
                <div class="section-title">Flexible Design</div>
                <div class="article-text">Use are menu creation tools to have it your way</div>
                <button class="btn btn-article getStarted">Get Started</button>
            </div>
            <div id="example-editor"></div>
        </div>
    </div>





    <div class="space" style=" margin-top: 150px;">
        <div data-aos="fade-up" class="section-title">Managment Tools</div>
        <div class="flex-container managment-icon-container">
            <div data-aos="fade-up"><i class="far fa-clock managment-icon"><span>Time Sensitive</span></i></div>
            <div data-aos="fade-up" data-aos-delay="100"><i class="fas fa-robot managment-icon"><span>Menu Editor</span></i></div>
            <div data-aos="fade-up" data-aos-delay="200"><i class="fas fa-edit managment-icon"><span>Prediction Engine</span></i></div>
        </div>
    </div>









    @Scripts.Render("~/bundles/HomePageScripts")


  


    <style>
        #nav {
            background-color: initial;
        }

        #logout-li {
            display: none;
        }

        #login-show {
            display: block;
        }

    </style>

 
</body>
</html>