@Styles.Render("~/bundles/MenuLayoutStyles")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

@Html.AntiForgeryToken()

<div id="loading-background">
    <div id="background-content">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

<div id="navbar" class="select-disable sticky">
    <li id="navs"></li>
    <div id="nav-icon">
        <div id="icon-svg-container">
            <div class="custom-logo" style="background-image: url('');"></div>
        </div>
    </div>
    <div id="nav-menu">


        <div class="nav-button btn-effect" id="btn-basket-menu">
            <span id="menu-basket-count">0</span>
            <i class="fas fa-shopping-basket" id="menu-basket-icon"></i>
            <span id="login-text">Basket</span>

        </div>

        @Html.Raw(@ViewData["editButton"])
    </div>
    </div>
</div>

<div id="notification-container"></div>

<div id="login-popup">

    <form id="login-form" class="loginControls">
        <button type="button" class="login-close">×</button>
        <div>
            <div class="custom-logo lg-logo" style="background-image: url('@Url.Content("~/Media/Logo-Dark.png")')"></div>
            <span id="login-message">Please Login To Continue</span>
        </div>

        <input id="login-email" type="email" placeholder="Enter Your Email" Required />
        <input id="login-password" type="password" placeholder="Enter Password" Required />

        <span id="login-forgot">Forgot Password</span>
        <span class="errorDisplay"></span>
        <button id="btn-login" class="btn btn-login" Text="Log in">Login</button>
        <span class="form-message">Create An Account</span>
    </form>
    <form id="register-form" class="loginControls">
        <button type="button" class="login-close">×</button>
        <div>
            <div class="custom-logo lg-logo" style="background-image: url('@Url.Content("~/Media/Logo-Dark.png")')"></div>
            <span class="login-message">Create An Account</span>
        </div>


        <div class="formDuelField">
            <input id="registerFirstName" type="text" placeholder="Enter Your Firstname" Required />
            <input id="registerSecondName" type="text" placeholder="Enter Your Lastname" Required />
        </div>

        <input id="registerEmail" type="email" placeholder="Enter Your Email" Required />

        <input id="registerPassword" type="password" placeholder="Enter Password" Required />
        <input id="registerPasswordRepeat" type="password" placeholder="Enter Repeat Password" Required />

        <span class="errorDisplay"></span>
        <button id="btn-register" class="btn btn-login" Text="Register">Create Account</button>
        <span class="form-message">Already Have An Account</span>
    </form>

</div>

@RenderBody()
<footer>
    <div></div>
    <div>
       <p id="footer-desc">@ViewData["footer"]</p>
    </div>
</footer>


