
@{
    Layout = "~/Views/Shared/EditorSiteLayout.cshtml";
    ViewBag.Title = "Keys";
}


@Styles.Render("~/bundles/KeysPageStyles")

<div class="section-banner">

    <div>
        <div class="section-title title-bold title-banner">Keys</div>
        <div class="section-title title-small">Manage your keys</div>
    </div>
    
</div>

<div class="menu-section" data-aos="fade-up">

    <div id="key-header">
        <div style="width:100%">
            Connect to <a class="link" onclick="$('#loading-background').css({'display':'block'});window.location.href='https://www.braintreegateway.com/login'">BrainTree</a> to take payments
        </div>
      
    </div>

    <a class="loading"></a>
    

    <form id="uploadBraintreeKeys">
        <table id="key-table">
            <tbody>
                <tr>
                    <td>
                        <label class="switch">
                            <input id="chkEnviroment" type="checkbox">
                            <span class="slider round"></span>
                        </label>
                    </td>
                    <td id="Environment">
                        Sandbox
                    </td>
                </tr>
                <tr><td>Merchant ID</td><td><input id="MerchantID" type="text" required></td></tr>
                <tr><td>Public Key</td><td><input id="PublicKey" type="text" required></td></tr>
                <tr><td>Private Key</td><td><input id="PrivateKey" type="text" required></td></tr>
            </tbody>
        </table>
        <p style="text-align: center;font-size: 11px;margin-top: -10px;">For security all previously given API keys will not be shown </p>
        <input id="APISubmit" type="submit" value="Submit Keys">

    </form>

</div>

<div class="menu-section" data-aos="fade-up" data-aos-delay="100">

    <div id="key-header">
        <div>
            Manage your secret display keys used to connect your <a class="link" onclick="$('#loading-background').css({'display':'block'});window.location.href='/OrderDisplay'">order displays</a>
        </div>
        <div>
            <button class="btn btn-outline @ViewData["keyTableButtonCreateKeyClass"]" data-reload="true" id="btn-new-key">@ViewData["keyTableText"]</button>
        </div>
    </div>

    <table id="key-table">
        @Html.Raw(@ViewData["keyTableRows"])
        <a class="loading"></a>
    </table>
    <p style="text-align: center;font-size: 11px;margin-top: -10px;">Click hidden password to reveal</p>

</div>

@Scripts.Render("~/bundles/KeysScripts")
