@{
    Layout = "~/Views/Shared/MenuLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Menu</title>



    @Styles.Render("~/bundles/MenuPageStyles")



    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap"
          rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap"
          rel="stylesheet" />

     
</head>

<body>




    <div id="main-scale" style="background-image: url(@ViewData["bannerImage"])">
        <div id="main-top">
            <div id="main-content">
                <h1 id="main-title">@ViewData["title"]</h1>
                <p id="main-tags">
                    @Html.Raw(@ViewData["tags"])
                </p>
            </div>
        </div>

    </div>





    <div id="select-main" class="select-disable sticky">
        <div id="select-scroll">
            <div class="select-gap select-arrow-width"></div>
            @Html.Raw(@ViewData["menuNavigaton"])
            <div class="select-gap select-arrow-width"></div>
        </div>
    </div>



    <div id="scroll-left" class="select-arrow select-arrow-width"></div>
    <div id="scroll-right" class="select-arrow right select-arrow-width"></div>




    <div id="main-container">


        <div id="main-menu">
            @Html.Raw(@ViewData["menuSections"])
        </div>

        <div id="basket-container" class="sticky">
            <div id="basket-list">
                <table id="basket-table"></table>
                <div id="basket-empty">Your basket is empty</div>
                <h3 id="basket-total">SumTotal: <span id="basket-total-value"></span"></h3>
            </div>
            <button class="item-btn basket-btn">Checkout</button>
        </div>
    </div>
</body>



@Scripts.Render("~/bundles/MenuPageScripts")
</html>
