@{
    Layout = "~/Views/Shared/MenuLayout.cshtml";
    ViewBag.Title = "Menu";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Menu</title>



    @Styles.Render("~/bundles/MenuPageStyles")



    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap"
          rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap"
          rel="stylesheet" />

     
</head>

<body>





    <div id="table-background">
        <form id="table-container">
            <h3 style="width: 100%;text-align: center;">Table Number</h3>
            <input id="input-table-number" type="number" min="1" max="999" required>

                <span class="login-close" id="qr-close">×</span>
                <video muted playsinline id="qr-video"></video>
                <script type="module">
                    var redirected = false;

                    import QrScanner from "/Scripts/qr-scanner.min.js";
                    QrScanner.WORKER_PATH = '/Scripts/qr-scanner-worker.min.js';
                    const video = document.getElementById('qr-video');
                    const scanner = new QrScanner(video, result => new function () {

                        if (!redirected) {
                            window.location.href = result;
                            redirected = true;
                            $("#table-background").hide();
                            $("#loading-background").css({ "display": "flex" });
                        }
                      
                    });
                
                    $("#btn-table-qr").click(function () {
                        scanner.start();
                        $("#qr-video").css({ "display": "block" })
                        $("#qr-close").css({ "display": "block" })
                      
                    });

                    $("#qr-close").click(function () {
                        scanner.stop();
                        $("#qr-video").css({ "display": "none" })
                        $("#qr-close").css({ "display": "none" })

                    });
                    

                </script>
    
            <input type="button" value="Scan QR Code" id="btn-table-qr" class="btn-table btn-table-dark">
            <input type="submit" value="Submit Table Number" class="btn-table btn-table-dark">
            <span id="btn-table-skip" class="btn-table">Just taking a look</span>
        </form>
    </div>

    <div id="main-scale" style="background-image: url(@ViewData["bannerImage"])">
        <div id="main-top">
            <div id="main-content">
                <h1 id="main-title">@ViewData["title"]</h1>
                <p id="main-tags">
                    @Html.Raw(@ViewData["tags"])
                </p>
            </div>
        </div>
    </div>





    <div id="select-main" class="select-disable sticky">
        <div id="select-scroll">
            <div class="select-gap select-arrow-width"></div>
            @Html.Raw(@ViewData["menuNavigaton"])
            <div class="select-gap select-arrow-width"></div>
        </div>
    </div>



    <div id="scroll-left" class="select-arrow select-arrow-width"></div>
    <div id="scroll-right" class="select-arrow right select-arrow-width"></div>




    <div id="main-container">


        <div id="main-menu" data-aos="fade-up">
            @Html.Raw(@ViewData["menuSections"])
        </div>

        <div id="basket-container" class="sticky" data-aos="fade-left">
            <span id="btn-shop-back">Back</span>

            <div id="basket-list">
                <div id="shop-more-container">
                    <span id="btn-shop-more">Shop More</span>
                </div>
                <table id="basket-table"></table>
                <div id="basket-empty">Your basket is empty</div>
            </div>
            <h3 id="basket-total">Total: <span id="basket-total-value"></span"></h3>
            <h3 id="basket-table-number">Table: <span id="basket-table-number-value"></span> <span id="basket-table-update" class="btn-table">Change</span></h3>

            <textarea id="basket-notes" maxlength="30" placeholder="Order Notes"></textarea>


            <button class="item-btn basket-btn">Checkout</button>



            <script src="https://js.braintreegateway.com/web/dropin/1.27.0/js/dropin.min.js"></script>
            <form id="payment-form" action="/BrainTree/CreatePurchase" method="post">

                <div id="dropin-container"></div>
                <input class="item-btn" id="btn-basket-submit" type="submit" />
                @Html.AntiForgeryToken()

                <input type="hidden" value="@ViewData["menuID"]" name="menu-id" />
                <input type="hidden" name="basket-notes" id="basket-notes-field" />
                <input type="hidden" id="basket-items" name="basket-items" />
                <input type="hidden" id="table-number" name="table-number" />
                <input type="hidden" id="nonce" name="payment_method_nonce" />
            </form>

            <script type="text/javascript">
                const form = document.getElementById('payment-form');

                braintree.dropin.create({
                    authorization: '@ViewData["ClientToken"]',
                    container: '#dropin-container'
                }, (error, dropinInstance) => {

                        if (error) console.error(error);

                        form.addEventListener('submit', event => {
                            event.preventDefault();

                            dropinInstance.requestPaymentMethod((error, payload) => {
                                if (error) console.error(error);
                                $("#nonce").val(payload.nonce);
                                $("#table-number").val(table);
                                $("#basket-items").val(JSON.stringify(basket));
                                $("#basket-notes-field").val($("#basket-notes").val());

                                form.submit();
                            });
                        });


                });

            </script>

        </div>
    </div>
</body>



@Scripts.Render("~/bundles/MenuPageScripts")
</html>


<div style="text-align: center;transform: translateY(31px);">
    <i class="fas fa-apple-alt" style="padding: 5px;"></i>Vegetarian
    <i class="fas fa-pepper-hot" style="margin-left: 10px;padding: 5px;"></i>Spicy
</div>

<script>
    AOS.init();
</script>